@import "./reset.css";
/* components */
@import "./components/header.css";
@import "./components/error.css";
/* screens */
@import "./screens/login.css";
@import "./screens/join.css";
@import "./screens/search.css";
body {
  position: relative;
  background-color: rgb(23, 25, 27);
  margin: 0px;
}

main {
  min-height: 100vh;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}

.main__list {
  height: 100%;
}

footer {
  background-color: rgb(54, 124, 230);
  height: 10vh;
}
