.header {
  width: 100%;
  background-color: rgb(54, 124, 230);
  display: flex;
  padding: 0 5%;
  height: 3rem;
  box-sizing: border-box;
}
.header nav {
  width: 100%;
}
.header__list {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  box-sizing: border-box;
}

.header__list li {
  padding: 5px;
  font-size: 15px;
  color: aliceblue;
}
.search_box {
  display: flex;
  justify-content: space-between;
  width: min(400px) !important;
  padding: 10px !important;
  background-color: aliceblue;
  border-radius: 20px;
}
.search {
  width: 100%;
  background-color: aliceblue;
  border: none;
  caret-color: rgb(51, 49, 56);
  border-width: 0;
  padding-left: 10px;
}
.search:focus {
  outline: none;
}
.fa-search {
  color: rgb(54, 124, 230);
}
