header.header
    nav 
        ul.header__list
            li 홈
            li.search_box
                    input.search(type="text" placeholder="닉네임을 입력해주세요")
                    i.fas.fa-search
            li.login 로그인