header.header
    nav 
        ul.header__list
            li 
                a(href="/") 홈
            if loggedIn
                li.profile
                    div 프로필
                    div.logout 로그아웃
                    script(src="public/js/logout.js") 
            else 
                li.login 
                    a(href="/login") 로그인