form.search_form(action="/" method="get")
    input.search_box(type="text" name="name1" placeholder="닉네임을 입력해주세요")
    i.fas.fa-search
    input.search_box(type="text" name="name2" placeholder="닉네임을 입력해주세요")
    i.fas.fa-search
    button(type="submit") fdsfa
script(src="public/js/search.js") 