.login__form {
  background-color: rgb(51, 49, 56);
  margin: 10% 0;
  border-radius: 30px;
  width: 500px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.login__inputs {
  width: 300px;
  margin-right: 5px;
}
.login__input {
  padding: 5px 0 5px 10px;
  width: 280px;
  height: 25px;
  margin: 5px;
  border-radius: 5px;
  caret-color: rgb(51, 49, 56);
  border-width: 0;
  font-size: 18px;
}
.login__submit {
  width: 75px;
  height: 75px;
  border-radius: 5px;
  border-width: 0;
}
.login__input:focus {
  outline: none;
}
