extends ../base

block content 
    include partials/error
    contnet 
        section.main__list
            form.search_box(action="/teamSearch" method="get")
                input.search(type="text" name="name" placeholder="닉네임을 입력해주세요")
                i.fas.fa-search