extends ../base

block content 
    if errorMessage
        span=errorMessage
    div.login__form
        form(method="POST") 
            input.login__input(type="text" name="name" placeholder="name" required)
            input.login__input(type="text" name="email" placeholder="email" required)
            input.login__input(type="text" name="id" placeholder="id" required)
            input.login__input(type="password" name="password" placeholder="password" required)
            input.login__input(type="password" name="password_check" placeholder="password check" required)
            input.login__submit(type="submit" value="회원가입")