extends ../base

block content 
    include partials/error
    div.join__form
        form(method="POST")
            input.join__input(type="text" name="name" placeholder="name" required)
            input.join__input(type="text" name="email" placeholder="email" required)
            input.join__input(type="text" name="id" placeholder="id" required)
            input.join__input(type="password" name="password" placeholder="password" required)
            input.join__input(type="password" name="password_check" placeholder="password check" required)
            div
                input.join__submit(type="submit" value="회원가입")