extends ../base

block content 
    div.userInfo 
        div.userInfo__icon
            img(src="https://ddragon.leagueoflegends.com/cdn/14.8.1/img/profileicon/"+profileData.profileIconId+".png", alt="")
            span=profileData.summonerLevel
        span.userInfo__nickName=nickName